
  /* Basic Styles */
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
  }

  div {
    margin: 10px;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  label {
    font-weight: bold;
  }

  input[type="number"],
  input[type="checkbox"] {
    margin-left: 10px;
  }

  button {
    background-color: #007bff;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }

  button:hover {
    background-color: #0056b3;
  }

  strong {
    font-weight: bold;
  }

  h2 {
    font-size: 20px;
    margin-top: 20px;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  li {
    margin-top: 5px;
  }

  /* Password Display */
  strong {
    margin-top: 10px;
  }

  /* Password History */
  h2 {
    margin-top: 20px;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  li {
    margin-top: 5px;
    border: 1px solid #ccc;
    padding: 5px;
    background-color: #f9f9f9;
    border-radius: 5px;
  }

